html {
  box-sizing: border-box;
  font: normal 100%/1.5 Dosis, Georgia;
  line-height: 1.5;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article {
  text-decoration: none;
  color: #785439;
  background-color: #f0eee8;
  padding: .75rem;
}

h2 {
  color: #512200;
  font-size: 1.5rem;
  margin: 0;
  padding-top: .35em;
}

dl {
  display: inline-block;
  font-family: georgia;
  border-bottom: 2px solid #9a816d;
  font-size: .875rem;
  margin-top: 0;
  padding-bottom: 1.25em;
}

dt {
  display: inline-block;
  width: 40%;
}

dd {
  display: inline-block;
  text-align: right;
  font-style: italic;
  width: 40%;
  margin: 0;
}

p {
  font-family: georgia;
  border-bottom: 2px solid #9a816d;
  padding: 0 0 1em;
}

.btn {
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #785439;
  border-radius: 8px;
  padding: .4em .75em .5em;
  margin: 0;
  font-size: 1.125rem;
  font-family: inherit;
}

.link-card {
  display: inline-block;
  color: #512200;
  text-decoration: none;
  border: 3px solid #785439;
  border-radius: 8px;
  padding: .4em .75em .5em;
  background-color: #dcd4cd;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  display: block;
}

.btn:hover {
  background-color: #512200;
}

div {
  text-align: center;
}
